.inner-wrap {
  border: 1px solid black;
  margin-top: 20px;
}

.inner-header {
  padding: 20px;
  background-color: #B03052;
  color: white;
}
/*main*/

.inner-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #031519;
  color:white;
}
.inner-main ul li a{
  color: white;
}
.inner-main ul li:hover {
  background-color: #B03052;
}

.inner-main ul li:hover a {
  color: white;
}

.inner-main .inner-search form {
  display: flex;
}

/*section*/
.inner-section .inner-left{
  background-color: #EBE8DB;
}

.inner-section {
  display: flex;

  border-bottom: 1px solid black;
}

.inner-section .inner-left {
  width: 30%;
border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px solid black;
}
.inner-section .inner-left ul li{
  list-style: none;
}

.inner-section .inner-right {
  flex: 1px;
  border-right: 0px;
  border: 0px;
}
/*footer*/
.inner-footer {
  padding: 20px;
  margin-bottom: -5px;
  background-color: #031519;
  color: white;
}