.inner-wrap {
  border: 1px solid black;
  margin-top: 20px;
}

.inner-header {
  padding: 20px;
}
/*main*/

.inner-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.inner-main .inner-search form {
  display: flex;
}

/*section*/

.inner-section {
  display: flex;
  height: 500px;
  border-bottom: 1px solid black;
}

.inner-section .inner-left {
  width: 30%;
border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
  border-right: 1px solid black;
}

.inner-section .inner-right {
  flex: 1px;
  border-right: 0px;
  border: 0px;
}

.inner-footer {
  padding: 20px;
}
